
data/

\.idea/

\.snakemake/

Pipfile\.lock

evaluating_snippy_calls_output/

logs/

notebooks/\.ipynb_checkpoints/

scripts/__pycache__/

notebooks/genes_in_all_sample\.fa

old_evaluating_snippy_calls_output/

tmp/
